*{
  padding: 0;
  margin: 0;
}



head , h1{
  text-align: center;
  color: white;
  background: black;
  padding: 20px 20px;
  margin: 0;
  margin-bottom: 10px;
}

body{
  background-color: #d64161;
}

.thumbnail{
  text-align: center;
}

thumbnail , img {
  border: solid black 5px;
  border-radius: 5%;
  margin: 0 5px;
}

.navigation {
  border: solid, white, 5px;
}
